@primary-color: #f1faee;
@secondary-color: #a8dadc;
@accent-color: #e63946;
@primary-text-color: #1d3557;
@secondary-text-color: #457b9d;

@extra-large-text: 6rem;
@very-large-text: 5rem;
@large-text: 4rem;
@medium-text: 3rem;
@small-text: 2rem;
@extra-small-text: 1.5rem;
@ultra-small-text: 1rem;

//general
* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: @primary-text-color;
}

.page-header {
  font-size: 4rem;
  color: @accent-color;
  margin: 4rem 2rem;
  text-align: center;
}

a,
.project h3 {
  text-decoration: none;
  color: @secondary-text-color;
}

a:hover,
.project h3:hover {
  color: @accent-color;
  transition: 200ms;
}

/* nav */

nav {
  margin: 8px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
}

nav a {
  margin: 8px;
  text-decoration: none;
  font-size: @small-text;
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    font-size: @extra-small-text;
  }
}

//social icons
.links {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10rem;
}

.links img {
  padding: 8px;
  width: 75px;
  opacity: 60%;
  @media screen and (max-width: 800px), screen and (max-height: 400px) {
    width: 50px
  }
}

/* Home */

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: @primary-color;
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    flex-direction: column;
  }
}

.home-header > * {
  margin: 2rem;
}

.home-header p {
  font-size: @medium-text;
  max-width: 600px;
  @media screen and (max-width: 1100px), screen and (max-height: 550px) {
    font-size: @small-text;
  }

  @media screen and (max-width: 800px), screen and (max-height: 400px) {
    font-size: @extra-small-text;
  }
}

.intro {
  text-align: left;
}

.intro span {
  color: @secondary-color;
}

.intro h1 {
  font-size: @small-text;
  color: @primary-text-color;
  @media screen and (max-width: 1100px), screen and (max-height: 550px) {
    font-size: @extra-small-text;
  }
}

.big-header {
  font-size: @extra-large-text;
  @media screen and (max-width: 1100px), screen and (max-height: 550px) {
    font-size: @very-large-text;
  }
  @media screen and (max-width: 800px), screen and (max-height: 400px) {
    font-size: @large-text;
  }
}

h2.big-header {
  color: @accent-color;
}

.home-header img {
  max-width: 450px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  @media screen and (max-width: 1100px), screen and (max-height: 550px) {
    max-width: 300px;
  }
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    max-width: 220px;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  height: 100vh;
  background-color: @primary-color;
}

.home-container h4 {
  font-size: @large-text;
  margin-bottom: 2rem;
  align-self: flex-start;
  @media screen and (max-width: 1100px), screen and (max-height: 550px) {
    font-size: @medium-text;
  }
  @media screen and (max-width: 800px), screen and (max-height: 400px) {
    font-size: @small-text;
  }
}

//about me

.about-me {
  background-color: @secondary-color;
}

.about-me,
.home-projects {
  justify-content: center;
}

.home-projects h4 {
  align-self: center;
  padding-top: 4rem;
}

.about-me span {
  color: @primary-color;
}

.about-me content {
  display: flex;
  align-items: center;
  margin: 5rem;
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    flex-direction: column;
    margin: 0.25rem;
  }
}

.technologies,
.projects-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 0;
}

.technologies img {
  width: 120px;
  margin: 1rem;
  @media screen and (max-width: 1100px), screen and (max-height: 550px) {
    width: 90px;
  }
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    width: 75px;
    margin: 0.25rem;
  }
}

.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: @extra-small-text;
  max-width: 800px;
  flex: 1 1 0;
  @media screen and (max-width: 1100px), screen and (max-height: 550px) {
    font-size: @ultra-small-text;
  }
}

.about-me-text p {
  margin: 1rem 0;
  line-height: 2rem;
  @media screen and (max-width: 800px), screen and (max-height: 400px) {
    line-height: 1.5rem;
  }
}

//projects

.project-header {
  font-size: 300px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project img {
  width: 450px;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  @media screen and (max-width: 1100px), screen and (max-height: 550px) {
    width: 300px;
  }
  @media screen and (max-width: 800px), screen and (max-height: 400px) {
    width: 250px;
  }
}

.project h3 {
  font-size: @medium-text;
  @media screen and (max-width: 1100px), screen and (max-height: 550px) {
    font-size: @small-text;
  }
  @media screen and (max-width: 800px), screen and (max-height: 400px) {
    font-size: @extra-small-text;
  }
}

#project-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}

#project-detail img {
  border-radius: 20px;
  border: 8px solid @secondary-color;
  margin: 1rem;
  width: 80vw;
  max-width: 800px;
}

#project-detail h3 {
  font-size: 36px;
  margin-bottom: 0;
}

#project-detail .project {
  width: 80vw;
  max-width: 800px;
  margin-bottom: 3rem;
}
