@import "./components/hero.less";
@import "./components/about.less";
@import "./components/projects.less";
@import "./components/footer.less";

//general

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: @primary-text-color;
}
