@primary-color: #f1faee;
@secondary-color: #a8dadc;
@accent-color: #e63946;
@primary-text-color: #1d3557;
@secondary-text-color: #457b9d;

@extra-large-text: 6rem;
@very-large-text: 5rem;
@large-text: 4rem;
@medium-text: 3rem;
@small-text: 2rem;
@extra-small-text: 1.5rem;
@ultra-small-text: 1rem;

//general
* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: @primary-text-color;
}

a {
  text-decoration: none;
  color: @secondary-text-color;
}

a:hover {
  color: @accent-color;
  transition: 200ms;
}

/* nav */

nav {
  display: flex;
  position: absolute;
}

nav a {
  margin: 8px;
  font-size: @small-text;
  font-family: Monaco, Consolas, Lucida Console, monospace;
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    font-size: @extra-small-text;
  }
}

//social icons
.links {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10rem;
}

.social-icon {
  padding: 8px;
  width: 75px;
  height: 75px;
  opacity: 60%;
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    width: 35px;
    height: 35px;
  }
}

/* Home */

.home-header {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: @primary-color;
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    flex-direction: column;
  }
}

.home-header p {
  font-size: @medium-text;
  max-width: 700px;
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    font-size: @extra-small-text;
  }
}

.intro span {
  color: @secondary-color;
}

.intro h1 {
  font-size: @small-text;
  color: @primary-text-color;
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    font-size: @extra-small-text;
  }
}

.big-header {
  font-size: @extra-large-text;
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    font-size: @large-text;
  }
}

h2.big-header {
  color: @accent-color;
  font-family: Monaco, Consolas, Lucida Console, monospace;
  overflow: hidden;
  border-right: 0.15em solid @accent-color;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0em;
  animation: typing 2.5s steps(40), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: @accent-color;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 2rem;
  background-color: @primary-color;
}

.home-container h4 {
  font-size: @medium-text;
  margin-bottom: 2rem;
  @media screen and (max-width: 800px), screen and (max-height: 400px) {
    font-size: @small-text;
  }
}

//about me

.about-me {
  background-color: @secondary-color;
}

#about-me-code {
  background-color: grey;
  border-radius: 15px 15px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#about-me-header {
  background-color: #f1faee;
  height: 25px;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
}

.circle {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: #2a9d8f;
  margin-left: 10px;
}

.circle:nth-last-of-type(2) {
  background-color: #e9c46a;
}
.circle:nth-last-of-type(3) {
  background-color: #e76f51;
}

.about-me-entry {
  padding: 1rem 2rem;
}

.about-me-entry :nth-last-of-type(odd) {
  color: @primary-color;
}

.about-me-text {
  font-family: Monaco, Consolas, Lucida Console, monospace;
}

.about-me,
.home-projects {
  justify-content: center;
}

.home-projects h4 {
  align-self: center;
  padding-top: 4rem;
}

.about-me span {
  color: @primary-color;
}

.about-me content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  @media screen and (max-width: 650px), screen and (max-height: 400px) {
    flex-direction: column;
    margin: 0.25rem;
  }
}

.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: @extra-small-text;
  max-width: 800px;
  flex: 1 1 0;
  @media screen and (max-width: 650px), screen and (max-height: 550px) {
    font-size: @ultra-small-text;
  }
}

//projects

.project {
  display: flex;
  align-items: center;
  margin: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
}

.project-details {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.project-content {
  padding: 2rem;
  line-height: 2rem;
}

.project-content h3 {
  font-size: @small-text;
  margin-bottom: 2rem;
}

.project img {
  width: 250px;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  @media screen and (max-width: 1000px), screen and (max-height: 400px) {
    display: none;
  }
  @media screen and (max-width: 400) {
    width: 100px;
  }
}
