body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #118ab2;
  color: #073B4C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

nav {
  margin: 8px;
}

nav a {
  margin: 8px;
  color: #ffd166;
  text-decoration: none;
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
  color: #ef476f;
}
