* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #1d3557;
}
/* nav */
nav {
  display: flex;
  position: absolute;
}
nav a {
  margin: 8px;
  font-size: 2rem;
  font-family: Monaco, Consolas, Lucida Console, monospace;
}
@media screen and (max-width: 650px), screen and (max-height: 400px) {
  nav a {
    font-size: 1.5rem;
  }
}
.links {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: fixed;
  margin-bottom: 10rem;
}
.social-icon {
  padding: 8px;
  width: 75px;
  height: 75px;
  opacity: 60%;
}
@media screen and (max-width: 650px), screen and (max-height: 400px) {
  .social-icon {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 400px) {
  .social-icon {
    width: 20px;
    height: 20px;
  }
}
/* Home */
.home-header {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1faee;
}
@media screen and (max-width: 650px), screen and (max-height: 400px) {
  .home-header {
    flex-direction: column;
  }
}
.home-header p {
  font-size: 3rem;
  max-width: 700px;
}
@media screen and (max-width: 650px), screen and (max-height: 400px) {
  .home-header p {
    font-size: 1.5rem;
  }
}
.intro span {
  color: #a8dadc;
  animation: fadeIn 8s;
}
.intro h1 {
  font-size: 2rem;
  color: #1d3557;
  animation: fadeIn 3s;
}
@media screen and (max-width: 650px), screen and (max-height: 400px) {
  .intro h1 {
    font-size: 1.5rem;
  }
}
.big-header {
  font-size: 6rem;
}
@media screen and (max-width: 650px), screen and (max-height: 400px) {
  .big-header {
    font-size: 4rem;
  }
}
h2.big-header {
  color: #e63946;
  font-family: Monaco, Consolas, Lucida Console, monospace;
  overflow: hidden;
  border-right: 0.15em solid #e63946;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0em;
  animation: typing 2.5s steps(40), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #e63946;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 2rem;
  background-color: #f1faee;
}
.home-container h4 {
  font-size: 3rem;
  font-family: Monaco, Consolas, Lucida Console, monospace;
  margin-bottom: 2rem;
}
@media screen and (max-width: 800px), screen and (max-height: 400px) {
  .home-container h4 {
    font-size: 2rem;
  }
}
.about-me {
  background-color: #a8dadc;
}
#about-me-code {
  background-color: #1d3557;
  border-radius: 15px 15px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#about-me-header {
  background-color: #f3f5f8;
  height: 25px;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  align-items: center;
}
.circle {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: #2a9d8f;
  margin-left: 10px;
}
.circle:nth-last-of-type(2) {
  background-color: #e9c46a;
}
.circle:nth-last-of-type(3) {
  background-color: #e76f51;
}
.about-me-entry {
  padding: 1rem 2rem;
}
.about-me-entry :nth-last-of-type(odd) {
  color: #f3f5f8;
}
.about-me-text {
  font-family: Monaco, Consolas, Lucida Console, monospace;
  color: #a8dadc;
}
#console-log {
  font-family: Monaco, Consolas, Lucida Console, monospace;
  color: #e63946;
}
.about-me,
.home-projects {
  justify-content: center;
}
.home-projects h4 {
  align-self: center;
  padding-top: 4rem;
}
.about-me content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}
@media screen and (max-width: 650px), screen and (max-height: 400px) {
  .about-me content {
    flex-direction: column;
    margin: 0.25rem;
  }
}
.about-me-text {
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.5rem;
  max-width: 800px;
  flex: 1 1 0;
}
@media screen and (max-width: 650px), screen and (max-height: 550px) {
  .about-me-text {
    font-size: 1rem;
  }
}
#about-me-cursor {
  color: #a8dadc;
}
.project {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  border-radius: 5px;
}
@media screen and (max-width: 650px), screen and (max-height: 550px) {
  .project {
    flex-direction: column;
  }
}
.project:nth-of-type(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 650px), screen and (max-height: 550px) {
  .project:nth-of-type(even) {
    flex-direction: column;
  }
}
.project-details {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.project-content {
  padding: 2rem;
  line-height: 2rem;
}
.project-content h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.project button {
  background: none;
  color: inherit;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #a8dadc;
  border-radius: 15px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.project-tools {
  display: flex;
  flex-wrap: wrap;
}
.tool {
  border: 2px solid #e63946;
  margin: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 5px;
  font-family: Monaco, Consolas, Lucida Console, monospace;
}
.project-image img {
  width: 100%;
  max-width: 800px;
  margin: 2rem;
  flex: 1 1 0;
}
