* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #1d3557;
}
h1 {
  font-size: 4rem;
  color: #ef476f;
}
a,
.project h3 {
  text-decoration: none;
  color: #457b9d;
}
a:hover,
.project h3:hover {
  color: #e63946;
  transition: 200ms;
}
/* nav */
nav {
  margin: 8px;
  text-align: center;
  display: none;
  justify-content: space-evenly;
}
nav a {
  margin: 8px;
  color: blue;
  text-decoration: none;
  font-size: 3rem;
}
/* Home */
.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1faee;
}
@media screen and (max-width: 650px), screen and (max-height: 400px) {
  .home-header {
    flex-direction: column;
  }
}
.home-header > * {
  margin: 2rem;
}
.home-header p {
  font-size: 3rem;
  max-width: 600px;
}
@media screen and (max-width: 1100px), screen and (max-height: 550px) {
  .home-header p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 800px), screen and (max-height: 400px) {
  .home-header p {
    font-size: 1.5rem;
  }
}
.intro {
  text-align: left;
}
.intro span {
  color: #a8dadc;
}
.intro h1 {
  font-size: 2rem;
  color: #1d3557;
}
@media screen and (max-width: 1100px), screen and (max-height: 550px) {
  .intro h1 {
    font-size: 1.5rem;
  }
}
.big-header {
  font-size: 6rem;
}
@media screen and (max-width: 1100px), screen and (max-height: 550px) {
  .big-header {
    font-size: 5rem;
  }
}
@media screen and (max-width: 800px), screen and (max-height: 400px) {
  .big-header {
    font-size: 4rem;
  }
}
h2.big-header {
  color: #e63946;
}
.home-header img {
  max-width: 450px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
@media screen and (max-width: 1100px), screen and (max-height: 550px) {
  .home-header img {
    max-width: 300px;
  }
}
@media screen and (max-width: 650px), screen and (max-height: 400px) {
  .home-header img {
    max-width: 220px;
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  height: 100vh;
  background-color: #f1faee;
}
.home-container h4 {
  font-size: 4rem;
  margin-bottom: 2rem;
  align-self: flex-start;
}
@media screen and (max-width: 1100px), screen and (max-height: 550px) {
  .home-container h4 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 800px), screen and (max-height: 400px) {
  .home-container h4 {
    font-size: 2rem;
  }
}
.about-me {
  background-color: #a8dadc;
}
.about-me,
.home-projects {
  align-items: center;
  justify-content: center;
}
.home-projects h4 {
  align-self: flex-end;
  padding-right: 4rem;
  padding-top: 4rem;
}
.about-me span {
  color: #f1faee;
}
.about-me content {
  display: flex;
  align-items: center;
  margin: 5rem;
}
@media screen and (max-width: 650px), screen and (max-height: 400px) {
  .about-me content {
    flex-direction: column;
    margin: 0.25rem;
  }
}
.technologies,
.projects-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 0;
}
.technologies img {
  width: 120px;
  margin: 1rem;
}
@media screen and (max-width: 1100px), screen and (max-height: 550px) {
  .technologies img {
    width: 90px;
  }
}
@media screen and (max-width: 650px), screen and (max-height: 400px) {
  .technologies img {
    width: 75px;
    margin: 0.25rem;
  }
}
.about-me-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.5rem;
  max-width: 800px;
  flex: 1 1 0;
}
@media screen and (max-width: 1100px), screen and (max-height: 550px) {
  .about-me-text {
    font-size: 1rem;
  }
}
.about-me-text p {
  margin: 1rem 0;
  line-height: 2rem;
}
@media screen and (max-width: 800px), screen and (max-height: 400px) {
  .about-me-text p {
    line-height: 1.5rem;
  }
}
.project-header {
  font-size: 300px;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project img {
  width: 450px;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
@media screen and (max-width: 1100px), screen and (max-height: 550px) {
  .project img {
    width: 300px;
  }
}
@media screen and (max-width: 800px), screen and (max-height: 400px) {
  .project img {
    width: 250px;
  }
}
.project h3 {
  font-size: 3rem;
}
@media screen and (max-width: 1100px), screen and (max-height: 550px) {
  .project h3 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 800px), screen and (max-height: 400px) {
  .project h3 {
    font-size: 1.5rem;
  }
}
#project-detail {
  display: flex;
  flex-direction: column;
}
#project-detail img {
  border-radius: 20px;
  border: 8px solid #a8dadc;
  margin: 1rem;
  width: 80vw;
  max-width: 800px;
}
#project-detail h3 {
  font-size: 36px;
  margin-bottom: 0;
}
#project-detail .project {
  width: 80vw;
  max-width: 800px;
  margin-bottom: 3rem;
}
